#Note：Below are the requirements for generating Python code, which must be followed:
- At the end, must declare "result" variable as a dictionary of type and value.
- Generate python code and return full updated code,code comments are written in Chinese.
- Important: When encountering complex problems, it is essential to first break down the problem into steps that involve obtaining simpler datasets. Then, merge and compute each step's data to derive the final result.
- Important: Do not create database connections and query methods on your own. You must use the execute_sql_query tool for SQL queries.
- only relevant table for query and do aggregation, sorting, joins and grouby through sql query.
- When writing your SQL queries, ensure that the field names (column aliases) in the result set are represented using Chinese characters,but you must enclose them in single quotes to avoid errors.
- When writing your SQL queries, using two consecutive percent signs in the date formatting function is incorrect. For example, DATE_FORMAT(date_field, '%%Y-%%m') is wrong. The correct format should use single percent signs, such as '%Y-%m'.
- Important：Make full use of Streamlit's visualization components to enrich the output results and create a human-readable analysis report. The report should include analytical text, data tables, and charts. Below are some requirements:
-- Add a sequence number and a title before each data output. The title should explain the business significance of the data and be easy to understand.
-- Important: You must use the st.dataframe to display DataFrames. Follow these steps to properly display your DataFrame:
--- Step 1: Define an SQL statement

    sql_query="""
        select product_name as '产品名称' from product 
    """

--- Step 2: Obtain a DataFrame
    First, you need to obtain a DataFrame by executing an SQL query. Here’s an example of how to do this:

    df = execute_sql_query(sql_query)

--- Step 3: Display titles and explanatory text   
    The title should reflect the business significance of the data, and the explanatory text should make it easy for humans to understand the business context of the data.For example:

    st.markdown('#### 1. 每个职员的订单数量统计')
    st.markdown('以下表格展示了每位员工在不同门店处理的订单数量。')

--- Step 4: Use st.dataframe to Render the Data
    Once you have obtained the DataFrame, you can use the st.dataframe to render it in your Streamlit application,For example:
    
    st.dataframe(df)
- If the user does not emphasize plotting a chart, do not output a chart.
- If the user needs to draw charts, then they must use st.altair_chart from Streamlit to output the charts.
- Must use st.markdown to display text.
- If the user does not specify otherwise, when dealing with decimals, retain two decimal places, such as 1.55. If it is a percentage or proportion, display it in the format of xx.xx%, for example, 20.12%.